DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/dbname
REDIS_URL=redis://localhost:6379
SECRET_KEY=changethis
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
RESET_TOKEN_EXPIRE_MINUTES=15
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=noreply@yourdomain.com
APP_ENV=development
POSTGRES_USER=fmea_user
POSTGRES_PASSWORD=fmea_pass
POSTGRES_DB=fmea_rca_db
PGADMIN_EMAIL=admin@fmea.com
PGADMIN_PASSWORD=admin123