# Python
/.git
/fmea-venv
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Alembic
alembic/versions/*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log